{% extends 'shop/base.html' %}
{% block title %}{{productf.product_name}} view{% endblock %}
{% block body %}
<div class="container my-4" xmlns="http://www.w3.org/1999/html">
<div class="row">
<div class="col-md-4">
<div class="row">
<img src="/media/{{productf.image}}" width="233px" height="385px">
</div>
<div class="row">
<button class="btn btn-primary mx-3">Buy Now</button>

       {% for i in product %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                                <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                                <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
                               <span id="divpr{{i.id}}" class="divpr">
                                   <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                               </span>
                            </div>
      {% endfor %}
<!--    <h5 class="card-title" id="namepr{{productf.id}}">{{productf.product_name}}</h5>-->
<!--    <span id="divpr{{productf.id}}" class="divpr">-->
<!--<button id="pr{{productf.id}}"class="btn btn-primary cart">Add To Cart</button>-->
<!--    </span>-->
</div>
</div>

<div class="col-md-8">
<h5>{{productf.product_name}}</h5>
<p><b>Mrp Rs.{{productf.price}}</b></p>
<p>{{productf.description}}</p>
</div>
</div>
</div>

{% endblock %}
{% block js %}
<script>

if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
updateCart(cart);
}

$('.cart').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] != undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
updateCart(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});

$('#popcart').popover();
updatePopover(cart);
function updatePopover(cart) {
    console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
        i = i + 1;
    }
    popStr = popStr + "</div> <a href='/shop/prodview1'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
    console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}

function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item];
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item]+ "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
  updatePopover(cart);
}

$('.divpr').on("click", "button.minus", function() {
    a = this.id.slice(7, );
    cart['pr' + a] = cart['pr' + a] - 1;
    cart['pr' + a] = Math.max(0, cart['pr' + a]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
    updateCart(cart);
});

$('.divpr').on("click", "button.plus", function() {
    a = this.id.slice(6, );
    cart['pr' + a] = cart['pr' + a] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
    updateCart(cart);
});

</script>
{% endblock %}

