 *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%
font-family: Arial,Helvetica,sans-serif;
}
.carousel-inner img{
  width: 100%;
  height: 500pi;
}
.aboutimg{
  width: 100%;
  height: 250px!important;
}

footer{
    width: 100%;
    bottom:0px;
    background-color: #111;
	color:#d9d9d9;
}
.main-content{
display:flex;
}

.main-content .box{
flex-basis: 50%;
padding: 10px 20px;
}

.box h2{
font-size:1.125rem;
font-weight:600;
text-transform: uppercase;
}

.box .content{
margin: 20px 0 0 0;
}

.left .content .social{
margin: 20px 0 0 0;
}

.left .content .social a{
margin: 0 2px;
}

.left .content .social a span{
height: 40px;
width: 40px;
background: #lalala;
line-height: 40px;
text-align: center;
font-size: 18px;
border-radius: 5px;
}

.left .content .social a span:hover{
background: #f12020;
}

.center .content .fas{
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}

.center .content .fas:hover{
	background: #f12020;
}

.center .content .text{
	font-size:1.0625rem;
	font-weight: 500;
	padding-left: 10px;
}

.center .content .phone{
	margin: 10px 0;
}
.right form .text{
	font-size: 1.0625rem;
	margin-bottom: 2px;
	color: #656565;
}


.right form .msg{
	margin-top: 10px;
}

.right form input, .right form textarea{
	width: 100%;
	font-size: 1.0625rem;
	background: #151515;
	padding-left: 10px;
	border: 1px solid #222222;
}

. right form input:focus,
. right form textarea:focus{
	outline-color: #3498db;
}

. right form input{
	height: 35px;
}

. right form .btn{
	margin-top: 10px;
}

. right form .btn button{
	height: 40px;
	width: 100%;
	border: none;
	outline: #f12020;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
}

. right form .btn button:hover{
background: #000;
}

.profile-box {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.profile-image {
    height: 20px;
    margin: 15px;
}
.logo {
    margin: 0 auto 0 0;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}
